h1 {
    background: azure;
    padding: 20px;
}


.control {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.control div {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 25px;
    
 }
.control div:hover {
    opacity: 0.5;
}




img {
    width: 100px;
    height: auto;
    text-align: center;
    margin-top: 30px;
}

p {
    font-size: 120%;
    font-family: monospace;
    background: bisque;
    text-align: center;
}